.footer ul{
    list-style: none;
    padding: 0;
}

.footer li{
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.footer-icons{
    width: 1.2rem !important;
    height: 1.2rem !important;
    color: #61B97F;
}

.footer a{
    color: #777777;
}

.footer a:hover{
    color: #61B97F;
}