.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  font-size: 24px;
}

.section-heading::after {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #BCE3C9;
}

.main-section-heading {
  font-size: 48px;
  color: #253D4E;
  font-weight: 700;
  line-height: 1.2;
}